body {
  font-family: Verdana, sans-serif;
  background-color: Blue;
  margin: 1;
  padding: 0;
}
h1 {
  text-align:center;
  color: #433;
  font-size: 24px;
  font-weight: bold;
}
h2 {
  color: #555;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #0078d4;
  text-decoration: none;
}
a:visited {
  color: #4b0082;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
button {
  background-color: #0078d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
}
.tablemarco{
  width:80%;
  text-align: center;
  padding: 10px;
}
}
